/* <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-079fcc2e-a96e-49a7-acdd-2e7ee199c6c7"></div> */


/* Container Global badge */
.dbMfBV {
    border-radius: 8px;
}
.hJdsRM {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px 24px;
    background-color: rgba(17, 17, 17, 0.05);
}
.cvBsnK, .cvBsnK * {
    box-sizing: border-box !important;
    outline: none !important;
}


/* bloc conatainer badge */
.bivlqn {
    margin-right: 24px;
}

/* .cvBsnK, .cvBsnK * {
    box-sizing: border-box !important;
    outline: none !important;
} */

/* image badge gauche */
.hlUNdy {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgb(17, 17, 17);
    font-size: 20px;
}

/* .cvBsnK, .cvBsnK * {
    box-sizing: border-box !important;
    outline: none !important;
} */
/* texte bagde droite de l'image */
.gFWmoQ {
    line-height: 1.8em;
}

/* container global bloc ratin dessous */
.leXsJi {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}

/* container bloc note et étoile */
.gjjFta {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cvBsnK, .cvBsnK * {
    box-sizing: border-box !important;
    outline: none !important;
}

/* note */
.fdSgyg:first-child:not(:only-child) {
    margin-right: 8px;
}

.fdSgyg {
    font-weight: 700;
    line-height: normal;
    font-size: 20px;
    color: rgb(17, 17, 17);
    word-break: normal !important;
}

/* etoile */
.ZsHQJ:not(:only-child) > :last-child {
    margin-right: 12px;
}
.imVBGJ {
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
}
